.inputContainer {
  min-height: 5.1875rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.select {
  padding: 0.5rem 0.25rem;
  font-family: monospace;
}

.error {
  color: red;
  font-size: x-small;
  padding-left: 0.25rem;
  margin-top: 0.25rem;
}
