.card {
  padding: 2rem;
}

.submitBtnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.submitBtn {
  color: white;
}

.loadingContainer {
  min-height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
