.inputContainer {
  min-height: 5.1875rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.radio {
  min-height: 2.25rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.radio > input {
  margin: 0;
  margin-right: 0.25rem;
}

.radio > label {
  margin-right: 0.75rem;
}

.error {
  color: red;
  font-size: x-small;
  padding-left: 0.25rem;
  margin-top: 0.25rem;
}
